<section class="add-course top">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>add course details</h2>
                        <p>Add courses</p>
                      </div>
                    <form action="/admin/add-course" method="post" enctype="multipart/form-data">
                        <label for="">Name</label>
                        <input type="text" name="Name" class="form-control">
    
                        <label for="">Category</label>
                        <input type="text" name="Category" class="form-control">
    
                        <label for="">Price</label>
                        <input type="text" name="Price" class="form-control">
    
                        <label for="">Description</label>
                        <input type="text" name="Description" class="form-control">

                        <label for="">Trainer</label>
                        <input type="text" name="Trainer" class="form-control">

                        <label for="">Number of seats</label>
                        <input type="text" name="Seats" class="form-control">

                        <label for="w3review">Long Description</label>

                        <textarea id="w3review" name="LongDescription" rows="4" cols="61">
                        
                        </textarea><br>

                        <label for="">Image</label>
                        <input name="Image" type="file" class="form-control">
    
                        <button type="submit" class="btn buy mt-4">submit</button>
    
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

  