<section class="add-course top">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>add course details</h2>
                        <p>Add courses</p>
                      </div>
                    <form action="/admin/add-top-course" method="post" enctype="multipart/form-data">
                        <label for="">Name</label>
                        <input type="text" name="Name" class="form-control">
    
                        <label for="">Description</label>
                        <input type="text" name="Description" class="form-control">

                        <label for="">Image</label>
                        <input name="Image" type="file" class="form-control">
    
                        <button type="submit" class="btn buy mt-4">submit</button>
    
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

  