<section class="top">
    <div class=" add-course">
        <a href="/admin/add-course"  > <button class="buy ">Add course</button></a>
    </div>
    <div class="container">
        <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Seats</th>
      <th scope="col">Trainer</th>
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each courses}}
      
    <tr>
      <th scope="row" >1</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Description}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Seats}}</td>
      <td>{{this.Trainer}}</td>
      <td><img style="width: 50px;height: 50px;" src="/course-images/{{this._id}}.jpeg" alt=""></td>
      <td>
        <a href="/admin/edit-course/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-course/{{this._id}}" class="btn btn-danger" onclick="return confirm('delete {{this.Name}}?')">Delete</a>
        
      </td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>

<section class="top">
    <div class=" add-course">
        <a href="/admin/add-top-courses"  > <button class="buy ">Add Top course</button></a>
    </div>
    <div class="container">
        <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
     
      <th scope="col">Description</th>
      
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each top_course}}
      
    <tr>
      <th scope="row" >1</th>
      <td>{{this.Name}}</td>
      
      <td>{{this.Description}}</td>
     
      <td><img style="width: 50px;height: 50px;" src="/top-course-images/{{this._id}}.jpeg" alt=""></td>
      <td>
        <a href="/admin/delete-top-course/{{this._id}}" class="btn btn-danger" onclick="return confirm('delete {{this.Name}}?')">Delete</a>
        
      </td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
  

  <section class="top">
    <div class=" add-course">
        <a href="/admin/add-project"  > <button class="buy ">Add project</button></a>
    </div>
    <div class="container">
        <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
     
      
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each project}}
      
    <tr>
      <th scope="row" >1</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Description}}</td>
      <td>{{this.Price}}</td>
      
      
      <td><img style="width: 50px;height: 50px;" src="/project-images/{{this._id}}.jpeg" alt=""></td>
      <td>
        <a href="/admin/edit-project/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-project/{{this._id}}" class="btn btn-danger" onclick="return confirm('delete {{this.Name}}?')">Delete</a>
        
      </td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>

<section class="top">
    <div class=" add-course">
        <a href="/admin/add-trending-project"  > <button class="buy ">Add trending project </button></a>
    </div>
    <div class="container">
        <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
    
     
      
      <th>Image</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each trending_project}}
      
    <tr>
      <th scope="row" >1</th>
      <td>{{this.Name}}</td>
      
      
      
      <td><img style="width: 50px;height: 50px;" src="/trending-project-images/{{this._id}}.jpeg" alt=""></td>
      <td>
        
        <a href="/admin/delete-trending-project/{{this._id}}" class="btn btn-danger" onclick="return confirm('delete {{this.Name}}?')">Delete</a>
        
      </td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>