<section class="edit-course top">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Edit course details</h2>
                        <p>Edit courses</p>
                      </div>
                    <form action="/admin/edit-course/{{course._id}}" method="post" enctype="multipart/form-data">
                        <label for="">Name</label>
                        <input type="text" name="Name" value="{{course.Name}}" class="form-control">
    
                        <label for="">Category</label>
                        <input type="text" name="Category" value="{{course.Category}}" class="form-control">
    
                        <label for="">Price</label>
                        <input type="text" name="Price" value="{{course.Price}}" class="form-control">
    
                        <label for="">Description</label>
                        <input type="text" name="Description" value="{{course.Description}}" class="form-control">

                        <label for="">Trainer</label>
                        <input type="text" name="Trainer" value="{{course.Trainer}}" class="form-control">

                        <label for="">Number of seats</label>
                        <input type="text" name="Seats" value="{{course.Seats}}" class="form-control">

                        <label for="w3review">Long Description</label>

                        <textarea id="w3review" name="LongDescription" value="{{course.LongDescription}}" rows="4" cols="61">
                        
                        </textarea><br>

                        <label for="">Image</label>
                        <img src="/course-images/{{course._id}}.jpeg" alt="" id="imgView" class="pt-3">
                        <input name="Image" type="file" class="form-control" onchange="viewImage(event)">
                        
                        <button type="submit" class="btn buy mt-4">submit</button>
    
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>