<header class="topnav ">
      <div class="container  ">
        <nav class="navbar  navbar-expand-md navbar-light">
          <a href="" class="navbar-brand">
            <img src="images/logo.png" alt="" width="50" height="24"
            class="d-inline-block align-top">
            Study Corner Admin
          </a>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#toggleMobileMenu"
          aria-controls="toggleMobileMenu"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

          </button>
          <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto">
              <li class="navbar-item">
                <a href="index.html" class="nav-link active">Admin</a>
              </li>
              <li class="navbar-item">
                <a href="admin/courses" class="nav-link active">All Courses</a>
              </li>
              
              <li class="navbar-item">
                <a href="trainers.html" class="nav-link active">All Trainers</a>
              </li>
              <li class="navbar-item">
                <a href="projects.html" class="nav-link active">All Projects</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="btn btn-primary">
                    {{#if user}}
                    {{user.Name}}
                    {{else}}
                    Account
                    {{/if}}</span> 
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  {{#if user}}
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                  {{else}}
                  <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  {{/if}}
                </ul>
              </li>
            </ul>
          </div>      
        </nav>
      </div>
    </header>
              
        
       