<header class="topnav">
      
        <nav class="navbar  navbar-expand-md navbar-light">
          
          <div>
             <a href="" class="navbar-brand">
            Study Corner
          </a>
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#toggleMobileMenu"
          aria-controls="toggleMobileMenu"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

          </button>
          </div>

          
          
          <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto">
              
              </li>
              <li class="navbar-item">
                <a href="/" class="nav-link active">Home</a>
              </li>
              <li class="navbar-item">
                <a href="/course" class="nav-link active">Courses</a>
              </li>
             {{#if user}}
             <li class="navbar-item">
                <a href="/" class="nav-link active">My courses</a>
              </li>
              {{/if}}
              <li class="navbar-item">
                <a href="/project" class="nav-link active">Projects</a>
              </li>
              <li class="navbar-item">
                <a href="" class="nav-link active">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="btn btn-primary">
                    {{#if user}}
                    {{user.Name}}
                    {{else}}
                    Account
                    {{/if}}</span> 
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  {{#if user}}
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                  {{else}}
                  <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  {{/if}}
                </ul>
              </li>
            </ul>
          </div>
              
        </nav>
      
    </header>
              
        
       