<section class="course-details-section">
        <div class=" container">
        
            <div class="course-details">
                <h1>Course details</h1>
            </div><br><br>
            <div class="section-title">
                <h2>Course Name</h2>
                <p>{{course.Name}}</p>
              </div>
              <div class="image">
                  <img src="/course-images/{{course._id}}.jpeg" style="height: 300px; width:500px" alt=""><br><br>
                  <h5>{{course.Category}}</h5><hr>
                  <p>{{course.LongDescription}}</p> </p>
                <div class="col-lg-4">

                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h6>Trainer</h6>
                      <p>{{course.Trainer}}</p>
                    </div>
        
                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h6>Course Fee</h6>
                      <p>${{course.Price}}</p>
                    </div>
        
                    <div class="course-info d-flex justify-content-between align-items-center">
                      <h6>Available Seats</h6>
                      <p>{{course.Seats}}</p>
                    </div><br>
        
                    

                    <button class="buy btn-success">Buy course</button>
              </div>
           
        </div>
        
    </section>