<section class="cards "  id="skills-section">
      <div class="container h-100">
        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>
        <div class="row ">
          {{#each courses}}
          <div class="col-md-3 ">
            <div class="card  p-1 " style="width: 18rem;">
              <img class="card-img-top card-img" src="/course-images/{{this._id}}.jpeg"
              alt="Card image cap" style="height: 15rem;">
             
              <div class="card-body">
                <h5 class="card-title ">{{this.Name}}</h5>
                <p class="card-text"> {{this.Description}}</p>
                <a href="/courseDetails/{{this._id}}" class="btn btn-success">Course details</a>
              </div>
            </div>
          </div>
          {{/each}}
      </div>
    </section>