<!-- alert -->






<!-- Hero section -->

    <section class="hero" id="hero" >
       <div class="bg-image" 
            style="background-image: url('/images/back.jpg');
            height: 100vh">

            <div class="title">
               <h2 class="display-1">Learning Today,<br>Leading Tomorrow</h2>
               <div>
              <a href="/project"><button  class="p-btn">projects</button></a>
              <a href="/course"><button class="c-btn">courses</button></a>
            </div> 
            </div>
            
         
      </div>
    </section>


    <section class="services py-5" id="services">
      <div class="container py-3">
        <div class="section-title">
          <h2>Services</h2>
          <p>We provides...</p>
        </div>
        <div class="row service-grids">
          <div class="col-lg-4 col-md-6 agile w3-icon-grid1">
            <h3><i class="" aria-hidden="true"></i> 1,000+ Online Courses</h3>
            <p>
              Levarage your potential with multi-disciplinary courses across various Domains....</p>
          </div>
          
          <div class="col-lg-4 col-md-6 agile mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
            <h3><i class="" aria-hidden="true"></i>Real time projects</h3>
            <p>
              We provide you the support to make your on projects and make you well experienced in your field....
            </p>
          </div>
          <div class="col-lg-4 col-md-6 agile mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
            <h3><i class="" aria-hidden="true"></i> Internship</h3>
            <p>We are tied up with number of international companies and they will provide you a carrier starting internship and get you a real time industry experiencr.</p>
          </div>
        </div>
      </div>
    </section>

   <section>
 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  
</section> 

    <section class=" p-5  "  id="skills-section">
      <div class="container h-100">
        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>
        <div class="row ">

          {{#each top_course}}
          <div class="col-md-3 ">
            <div class="card p-3 " style="width: 18rem;">
              <img class="card-img-top" src="/top-course-images/{{this._id}}.jpeg"
              alt="Card image cap" style="height: 15rem;">
              <div class="card-body">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
                  
                
              </div>
            </div>
          </div>
          {{/each}}
          
        </div>
        <div class="explorebtn">
          <a href="/course" class="btn btn-success">Explore courses</a>
        </div>
        
        
      </div>
    </section>
  

  <section class="cards "  id="project-section">
    <div class="container h-100">
      <div class="section-title">
        <h2>real time projects we provide</h2>
        <p>Trending Projects</p>
      </div>
      <div class="row ">
        {{#each trending_project}}
        <div class="col-md-6 ">
          <div class="card   " style="width: 40rem;">
            <img class="card-img-top card-img" src="/trending-project-images/{{this._id}}.jpeg"
            alt="Card image cap" style="height: 20rem;">
           
            <div class="card-body">
              <h5 class="card-title ">{{this.Name}}</h5>
              
              
            </div>
          </div>
        </div>
        {{/each}}
        
      </div>
      <div class="explorebtn">
          <a href="/project" class="btn btn-primary">More projects</a>
        </div>
    </div>
  </section>

  <section class="trainer">
    <div class="py-5 team4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">Experienced & Professional Team</h3>
        <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
      </div>
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-md-3 mb-4 mt-4">
        <!-- Row -->
        <div class="row">
          <div class="">
            <img src="/trainer-images/trainer-1.jpg" alt="wrapkit" class="img-fluid rounded-circle" style="" />
          </div>
          <div class=" text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Mithun Madhavan</h5>
              <h6 class="subtitle mb-3">Senior Web Developer</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4 mt-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/trainer-images/trainer-3.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Muhammed Shibil </h5>
              <h6 class="subtitle mb-3">UI/UX Designing Specialist</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4 mt-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/trainer-images/trainer-2.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Sneha</h5>
              <h6 class="subtitle mb-3">Backend Developer</h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 mb-4 mt-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/trainer-images/trainer-4.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">Pramoj Narikkundil</h5>
              <h6 class="subtitle mb-3">Founder / CEO </h6>
              <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
  </div>
</div>
  </section>
      