<section class="top">
  <div class="row">
    <div class="col-md-4 m-auto">

      <div class="container pl-5">
        <div class="section-title">
          <h2>jump to your account</h2>
          <p>login</p>
        </div>
        <form action="/login" method="post">
          {{#if loginErr}}
            <p class="error">{{loginErr}}</p>

          {{/if}}
          <div class="form-group">
            <label for="">Email Address</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              name="Password"
              placeholder="Password"
            />
          </div>
          <br>
          <a href="/signup">Create new account ?</a>

          <button
            type="submit"
            class="btn btn-primary float-right"
          >Login</button>

        </form>
      </div>
    </div>
  </div>
</section>