<section class="course-details-section">
        <div class=" container">
        
            <div class="course-details">
                <h1>Project details</h1>
            </div><br><br>
            <div class="section-title">
                <h2>Course Name</h2>
                <p>{{project.Name}}</p>
              </div>
              <div class="image">
                  <img src="/project-images/{{project._id}}.jpeg" style="height: 300px; width:500px" alt=""><br><br>
                  <h5>{{project.Category}}</h5><hr>
                  <p>{{project.LongDescription}}</p> </p>
                <div class="col-lg-4">

                   
        
                    <div class="course-info mt-5 d-flex justify-content-between align-items-center">
                      <h6>Project Cost </h6>
                      <h4>${{project.Price}}</h4>
                    </div>
        
                   
        
                    

                    <button class="buy btn-success mt-5">Register</button>
              </div>
           
        </div>
        
    </section>