<section class="cards "  id="project-section">
        <div class="container h-100">
          <div class="section-title">
            <h2>Projects</h2>
            <p>real time projects we provide</p>
          </div>
          <div class="row ">
            {{#each project}}
            <div class=" project p-5">
              <ul>
                <li>
                  <img class="" src="/project-images/{{this._id}}.jpeg"
              alt="" style="height: 15rem;">
                </li>
                <li>
                  <h4 class="card-title">{{this.Name}}</h4>
                </li>
                <li>
                  <p class="card-text">{{this.Category}}</p>
                </li>
                <li>
                  <p>{{this.Description}}</p>
                </li>
                <li>
                  <a href="/projectDetails/{{this._id}}" class="btn btn-success">Show more>></a>
                </li>
              </ul>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </section>

     