<section class="top">
  <div class="row">
    <div class="col-md-4 m-auto">

      <div class="container pl-5">

        <div class="section-title">
          <h2>Create your account</h2>
          <p>SignUp</p>
        </div>
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              name="Name"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group">
            <label for="">Email Address</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              name="Password"
              placeholder="Password"
            />
          </div>
          <br>
          <a href="/login">Already hava account ?</a>
          <button
            type="submit"
            class="btn btn-primary float-right"
          >Signup</button>

        </form>
      </div>
    </div>
  </div>

</section>