/* .dark-bg{
  background-image: url(/images/heroimg.jpeg);
  margin-top: 100px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */

.navalign{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.topnav {
  /* padding-inline-end: 150px; */
  font-size: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
  
  }
  .navbar-brand{
    /* padding-left: 150px; */
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Monoton', cursive; 
  }


.section-bg {
  background-color: #2dcf2d;
  }
  
.section-title {
  padding-bottom: 40px;
  }
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
  .section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.cards{
  padding-top: 100px;
}
.course-details-section{
  margin-top: 80px;
}
.course-details h1{
  text-align: center;
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}


.buy{
  border-radius: 50px;
  color: white;
  background-color: rgb(127, 224, 15);
}

.fa {  
  width: 25px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 25px; 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-linkedin {
  background: #007bb5;
}
.trainer-section{
    margin-top: 100px;
}
.top{
  margin-top: 100px;
}
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-course{
  margin-inline-start: 120px;
}
.explorebtn{
  margin-left: 575px;
  margin-top: 30px;
}
.alert{
  margin-top: 100px;
  background-color: rgb(226, 202, 62);
  
}


/* hero */

.title{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(14, 13, 13);
}

.p-btn{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #3B5998;
  color: antiquewhite;
}
.c-btn{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #c9ee43;
  color: rgb(29, 28, 26);
}

.p-btn:hover{
  color: #37423b;
  background-color: rgb(207, 245, 245);
}
.c-btn:hover{
  color: #37423b;
  background-color: rgb(207, 245, 245);
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #000000;
}

.team4 .font-weight-medium {
	font-weight: 500;
}
.team4 h3{
  font-size: 50px;
}


.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #1157ee;
    line-height: 24px;
		font-size: 16px;
}

.team4 ul li a {
  color: #fc7e58;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}

.project ul{
  list-style: none;
}